@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@400;700&display=swap');

.app {
    text-align: center;
    background-color: #f6f3f3; 
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    color: #f6f3f3; 
    width: 970px;
    margin: 30px auto;
    position: relative;
  }
  .font{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

  }
  .text__timer{
    position: absolute;
    font-size: 13px;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .timer {
    font-size: 5rem;
    font-weight: bold;
    margin: 1rem 0;
    animation: pulse 1s infinite;
    color: #f6f3f3; /* Серый текст времени */
  }
  
  .buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;  
    margin-top: 1rem;
  }
  
  .button {
    
    padding: 0.5rem 1.4rem; 
    font-size: 1.4rem; 
    width: 180px;
    background-color: transparent; 
    color: #fff;
    border-color: #f6f3f3;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button:hover {
    background-color: #8c8a8a57; 
  }

  .iconsTop {
    display: flex;
    justify-content: space-between;
  }

  .settingsIcon {
    font-size: 32px;
    cursor: pointer;
    transition: .4s;
  }
  .settingsIcon:hover {
    transform: scale(1.07);
  }

  .buttonArrow {
    font-size: 32px;
    color: #f6f3f3;
    background-color: transparent;
    border: none;
    transition: .4s;
  }
  .buttonArrow:hover {
    transform: scale(1.07);
  }
  
  .reloadIcon {
    color: #4b5563;
    font-size: 32px;
    text-decoration: none;
  }
  
  .reloadIcon:hover {
    color: #4a90e2;
  }
  

  @media screen and (max-width: 990px) {
    .app {
      width: 600px;
    }
  }

  @media screen and (max-width: 630px) {
    .app {
      width: 90%;
    }
    .buttons {
      display: flex;
      flex-direction: column;
    }
    .button {
      margin: 0 auto;
    }
  }
  
  
  @media screen and (max-width: 375px) {
    .buttons {
      display: flex;
      flex-direction: column;
    }
    .button {
      margin: 0 auto;
      width: 150px;
      height: 40px;
      font-size: 18px;
    }
    .timer {
      font-size: 26px;
    }
    .settingsIcon,
    .buttonArrow {
      font-size: 24px;
    }

  }
  
  
 
  