.ideas {
    width: 970px;
    margin: 0 auto;
    background-color: #313131;
    color: #fff;
}

.ideas__nav {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.navLink {
    text-align: center;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #b0feed44;
}

.navLink__new{
    border-bottom: 2px solid #b0feed;
}

.todos {
    margin: 30px 0;
}


.commentSection {
    padding: 30px 5px;
}

.com__title {
    font-size: 24px;
    margin-bottom: 20px;
}

.inputCom {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.addComBtn {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.addComBtn:hover {
    background-color: #0056b3;
}

.comment {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    padding-right: 50px;
    background-color: #313131;
    border-top: 1px solid #807f7f;
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
}

.comment p {
    margin: 0;
    padding-left: 4px;
    word-break: break-all;
}

.comment__inner {
    display: flex;
    justify-content: space-between;
    word-break: break-word;
}

.removeBtnComment {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 42%;
    
}

.comment__user {
    align-items: center;
    margin-right: 15px;
    text-align: center;
    width: 65px;
}


.user__avatar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    padding-top: 15px;
    margin: 0 auto 10px;
    box-shadow: #313131;
}

.comment__date {
    font-size: 10px;
    color: #807f7f;
    margin-top: 5px;
}

.sort {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* Стили для кнопок сортировки */
  .sortBtn {
    padding: 5px 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  /* Стиль для выбранной кнопки "Новые" */
  .sortBtn:focus,
  .sortBtn.active {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    outline: none; /* Убираем стандартное браузерное подчеркивание при фокусе */
  }