* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f4d7a;
    padding: 13px 30px;
    position: relative;
}
.header_logo {
    font-size: 20px;
    color: rgb(201, 54, 9);
}
.content_h1 {
    display: flex;
    align-items: center;
}
.a_logo {
    font-size: 20px;
    color: #FFF;
    margin-left: 7px;
    margin-top: -3px;
}
.header_ul {
    display: flex;
    align-items: center;
    gap: 60px;
}
.header_link {
    color: #FFF;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;

}
.statistics {
    display: flex;
    align-items: center;
}
.header_launguage {
    display: flex;
    align-items: center;
}
.header_stat {
    font-size: 20px;
    color: #FFF;
    display: flex;
    margin-right: 7px;
}
.header_settings {
    font-size: 20px;
    color: #FFF;
    display: flex;
    margin-right: 7px;
}
.header_ideas {
    font-size: 20px;
    color: #FFF;
    display: flex;
    margin-right: 7px;
}
.header_world {
    font-size: 20px;
    color: #FFF;
    display: flex;
}
.header_laung {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
}
.header_user_login {
    font-size: 20px;
    color: #FFF;
    display: flex;
    margin-right: 7px;
}

.language1 button{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 16px;
}
.language1 button:hover{
    color: rgb(175, 175, 175);
}

.lang_block{
    position: relative;
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 16px;

}
.language1{
    z-index: 999;
    position: absolute;
    top: 55px;
    right: 160px;
    width: 150px;
    background:#1f4d7a;
    padding: 5px;
}
.profil_btn {
    background: transparent;
    border: none;
    color: #FFF;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.state_profil {
    width: 150px;
    transition: .10s;
    background-color: #1f4d7a;
    position: absolute;
    right: 5px;
    top: 55px;
    padding: 10px;
}
.handle_user {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.entrance_use {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #FFF;
}
.icon {
    display: flex;
    margin-right: 5px;
}
.authorization_user {
    display: flex;
    align-items: center;
    color: #FFF;
}
.profil {
    display: flex;
    align-items: start;
    flex-direction: column;

    
}
.btn_profil {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    color: #FFF;
    font-size: 16px;
    margin-bottom: 10px;
}
.link_profil{
    color: #FFF;


}
.cg_profile {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.btn_exit {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    color: #FFF;
    font-size: 16px;
}
.Im_exit {
    display: flex;
    align-items: center;
    margin-left: 3px;
    /* margin-left: -17px; */
}
.entrance_use:hover{
    color: rgb(175, 175, 175);

}

.authorization_user:hover{
    color: rgb(175, 175, 175);

}
