* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.footer {
    padding: 30px 0;
}
.footer_container {
    max-width: 970px;
    margin: auto;
}
.block_company {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.left_block {
    display: flex;
    align-items: center;
    width: 210px;
    background-color: #efefef;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    margin-left: 35px;
}
.right_block {
    display: flex;
    align-items: center;
    width: 210px;
    background-color: black;
    padding: 5px 5px 5px 15px;
    border-radius: 10px;
    margin-left: 35px;
}
.icon_apple {
    font-size: 30px;
    color: black;
}
.icon_microsoft {
    font-size: 30px;
    margin-top: 5px;
    color: #e86113;
}
.apple_content {
    margin-left: 5px;
}
.microsoft_content {
    margin-left: 5px;
}
.microsoft_content_text {
    color: #FFF;
}
.microsoft_content {
    color: #FFF;
}
.apple_text {
    color: black;
}
.store_apple {
    color: black;
}





.footer_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    gap: 30px;
}
.icon_flex {
    display: flex;
    align-items: center;
    background-color: #efefef;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}
.icon_flex:hover {
    transform: scale(1.07);
    background-color: #e86113;
}
.icons {
    font-size: 25px;
    color: black;
    margin-top: 5px;
}
.share_num {
    margin-left: 10px;
}
.pin_num {
    margin-left: 10px;
}
.text {
    margin-left: 5px;
}
.icon_partner {
    transition: .4s;
}
.icon_partner:hover {
    transform: scale(1.07);
    color: #e86113;
}





.version_block {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-size: 20px;
    margin-left: 30px;
    gap: 60px;
}
.footer_email {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}
.footer_bottom_text {
    text-align: center;
    /* width: 950px; */
    color: #707070;
    font-size: 17px;
    font-weight: 400;
}