* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.footer {
  padding: 30px 0;
}
.footer_container {
  max-width: 970px;
  margin: auto;
}
.block_company {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.left_block {
  display: flex;
  align-items: center;
  height: 50px;
  width: 230px;
  background-color: #efefef;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  margin-left: 35px;
}
.right_block {
  display: flex;
  align-items: center;
  height: 55px;
  width: 230px;
  background-color: black;
  padding: 5px 5px 5px 15px;
  border-radius: 10px;
  margin-left: 35px;
}
.icon_apple {
  font-size: 30px;
  color: black;
}
.icon_microsoft {
  font-size: 30px;
  margin-top: 5px;
  color: #e86113;
}
.apple_content {
  margin-left: 5px;
}
.microsoft_content {
  margin-left: 5px;
}
.microsoft_content_text {
  color: #fff;
}
.microsoft_content {
  color: #fff;
}
.apple_text {
  color: black;
}
.store_apple {
  color: black;
}

.footer_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
  gap: 30px;
}
.icon_flex {
  display: flex;
  align-items: center;
  background-color: #efefef;
  padding: 0 5px 0 5px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.icon_flex:hover {
  transform: scale(1.07);
  background-color: #e86113;
}
.icons {
  font-size: 25px;
  color: black;
  margin-top: 5px;
}
.share_num {
  margin-left: 10px;
  color: black;
}
.pin_num {
  margin-left: 10px;
  color: black;
}
.text {
  margin-left: 5px;
  color: black;
}
.icon_partner {
  color: #438ad0;
  transition: 0.4s;
}
.icon_partner:hover {
  transform: scale(1.07);
  color: #174574;
  border-bottom: 1px solid #174574;
}

.version_block {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  font-size: 20px;
  margin-left: 30px;
  gap: 60px;
}
.footer_email_text {
  transition: 0.4s;
  color: #438ad0;
}
.footer_email_text:hover {
  color: #174574;
  border-bottom: 1px solid #174574;
}
.footer_email {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}
.footer_bottom_text {
  text-align: center;
  /* max-width: 950px; */
  color: #707070;
  font-size: 17px;
  font-weight: 400;
}


/* Адаптив */

@media screen and (max-width: 830px) {
  .footer {
    
  }
    .footer_container {
     width: 600px;
    }
    .company_block {
      margin: auto;
      margin-top: -20px;
    }
    .version_block {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
    }
    .footer_email {
     margin-left: 40px;
     margin-top: 20px;
    }
    .footer_contenter {
      width: 200px;
    }
}

@media screen and (max-width: 830px) {
  .footer_container {
   width: 600px;
  }
}

@media screen and (max-width: 730px) {
  .block_company {
   flex-direction: column;
   text-align: center;
  }
  .left_block,
  .right_block {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 640px) {
  .footer_bottom_text {
    font-size: 12px;
    display: none;
  }
  .footer_icons {
    display: flex;
    flex-direction: column;
  }
  .icon_flex {
    display: flex;
    justify-content: center;
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .footer_bottom_text {
    font-size: 14px;
    width: 350px;
  margin: 0 auto;
  }
  .footer_icons,
  .version_block {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
}

