* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #313131;
  color: #ccd1d3;
  font-family: sf pro light, helvetica neue, open sans, Helvetica, Arial,
    sans-serif;
}
.todos_form {
  max-width: 970px;
  position: relative;
  margin: 0 auto;
}
.todos {
  margin-top: 2rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.title {
  letter-spacing: 0.08rem;
  margin: 0.5rem 0;
  text-align: center;
}
form {
  display: flex;
  align-items: center;
}
.select {
  outline: none;
  width: 150px;
  height: 34px;
  border-radius: 3px;
  border: 1px solid #bdbdbd;
  background: transparent;
  font-size: 15px;
  color: white;
  margin-right: 17.5px;
}

.input {
  outline: none;
  color: white;
  width: 721px;
  height: 34px;
  border-radius: 3px;
  padding-left: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #bdbdbd;
  background: transparent;
}
.add {
  border-left: 0;
  outline: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #bdbdbd;
  background: transparent;
  font-size: 12px;
  color: white;
  height: 34px;
  width: 33px;
  overflow: none;
}
option {
  color: black;
}
.plan {
  padding-top: 2px;
  border-radius: 3px;
  border: 1px solid #bdbdbd;
  background: transparent;
  font-size: 15px;
  color: white;
  height: 34px;
  width: 33px;
}
.text__todos {
  text-align: center;
  margin: 25px 0 10px 0;
  font-size: 16px;
}
.icon__list {
  color: #438ad0;
  font-size: 16px;
}
.text__todos span {
  color: #438ad0;
  font-size: 18.4px;
}
.list {
  margin-top: 10px;
  padding: 5px 6px;
  width: 921px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid #bdbdbd;
}

.count {
  color: white;
  cursor: pointer;
  text-align: center;
  width: 34px;
  height:33px;
  padding: 1px;
  font-size: 18px;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1rem solid #bdbdbd;
}

.text {
  width: 719px;
  flex: 1;
}
.category {
  width: 166px;
}
.icon__list2 {
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;

  color: white;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  font-size: 16px;
  background-color: transparent;
  height: 34px;
  width: 33px;
  overflow: none;
}
.margin{
  margin-bottom: 60px;

}
.todo__list{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.setting__todo{
  padding: 6px;
  display: flex;
  flex-direction: column;
  top: -96px;
  right: -156px;
  justify-content: space-between;
  width: 190px;
  position: absolute;
  height: 110px;
  background: #1f4d7a;
  color: white;
}
.setting__todo button{
  display: flex;
  align-items: center;
  font-size: 14px;
  text-align: left;
  background: transparent;
  color: white;
  border: none;
  padding: 2px 0 0 5px;
  margin-bottom: 5px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.setting__todo hr{
  margin: 0 1px;
}

hr{
  border-bottom: 0.1px solid #a9a9a9;
}